header {
    border: 1px solid;
    border-color: goldenrod; 
}

nav ul li {          
    margin: 0;
    padding: 20px;
    text-align: center;
    display: inline;
}

.parent div:first-child {
    color: red;
}

.parent div:nth-child(3) {
    color: blue;
}

.parent h4:nth-child(2) {
    background-color: red;
}

/* also: .parent div:first-child + h4 */

.parent h4:nth-child(4) {                        
    background-color: blue;
}
/* also: .parent div:nth-child(3) + h4 */

.grandparent > h4 {
    border: 1px solid;
    border-radius: 5px;
}

.disabled {
    color: grey
}

a .disabled {                                   
    color: purple
}
                               
.active {
    color: yellow
}
 

.promo {
    color: gold;
    font-weight: bold;
    
}

input[type="text"] {
    height: 25px;
}

